#!/usr/bin/make -f
# SPDX-License-Identifier: Apache-2.0
#
# The binary is pre-built before dpkg-buildpackage is invoked and placed at
# gotidal-linux-<arch>. This rules file only installs artefacts.

export DH_VERBOSE = 1

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq ($(DEB_HOST_ARCH),amd64)
  PREBUILT_BINARY := gotidal-linux-amd64
else ifeq ($(DEB_HOST_ARCH),arm64)
  PREBUILT_BINARY := gotidal-linux-arm64
else
  $(error Unsupported architecture: $(DEB_HOST_ARCH))
endif

DESTDIR := debian/gotidal

%:
	dh $@

override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:

override_dh_auto_install:
	install -Dm755 $(PREBUILT_BINARY) \
		$(DESTDIR)/usr/bin/gotidal
	install -Dm644 cmd/gotidal/gotidal.desktop \
		$(DESTDIR)/usr/share/applications/gotidal.desktop
