[Desktop Entry]
Name=goTidal
Comment=Tidal music player (terminal)
Exec=gotidal play %u
Terminal=false
Type=Application
Categories=Audio;Music;Player;
MimeType=x-scheme-handler/tidal;
Keywords=Music;Audio;Tidal;
